.clean-block.payment-form .card-details {
  padding: 25px 25px 15px;
}

.clean-block.payment-form .card-details {
  padding: 40px 40px 30px;
}

.clean-block.dark {
  background-color: #f6f6f6;
}

.clean-block {
  padding-bottom: 50px;
}

